# WPILib
bin/
build/
dist/
sysProps.xml
workbench.xmi

# IDE
*.ipr
*.iml
*.iws
out/
tmp/
**/lib/User_Libraries.properties

# Toast/GradleRIO
run/
gradle/.launch/

# OS Files
ehthumbs.db
Thumbs.db

# backup files
*~

# directory for XML generated after running junit tests through ant
junit/

# Don't commit log files
**/*.log

# Use ".*" folders for easy ignore
.*/