[submodule "Pathfinder"]
	path = Pathfinder
	url = git@github.com:Mercury1089/Pathfinder.git
[submodule "motion-profile-generator.wiki"]
	path = motion-profile-generator.wiki
	url = https://github.com/Endoman123/motion-profile-generator.wiki.git
